/* Basic stuff... */
body {min-width:265px;font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, ​Arial, sans-serif;}
div#external {background-image: url(../images/main-bg.jpg);background-size:cover;}

/* Navbar */
.navbar .nav {letter-spacing:1px;font-weight:400;text-transform:uppercase;}
.navbar-fixed-top .brand {padding-left:30px;}

.navbar a.brand {font-family:'Nothing You Could Do',cursive;font-weight:700;white-space:nowrap;}
.navbar .brand table td {height:45px;font-size:30px;letter-spacing:4px;text-align:center;vertical-align:middle;border:1px solid;padding:0 20px;}

@media (max-width:1070px) {
	.navbar ul.nav {min-height:0;padding:9px 0;}
   .navbar .brand table td {height:27px;font-size:16px;}
	.navbar-fixed-top + div#external {margin-top:67px}
}
@media (min-width:980px) {
	.navbar ul.language-selector {float:right !important;}
}

/* Pager (Do not move this) */
ul.pager {margin:30px 0 4px 0;}
ul.pager li > a {background:transparent;}

/* Main Slideshow */
#main div.smz-slideshow {min-width:293px !important;}

/* Image gallery without borders (for "Biolaghi", ecc.) */
div.gallery-noborder {margin-top:9px;}
.gallery-noborder div.sigContainer.classic {margin:9px 0 0 0;}
.gallery-noborder div.sigContainer.classic div.sigInnerWrapper {padding:0;border:0;margin:0;background-color:inherit;}
.gallery-noborder div.sigContainer.classic div.sigOuterWrapper {padding:0;background:inherit;}
.gallery-noborder div.sigContainer.classic div.sigContainer {padding-top:0;}
.gallery-noborder div.sigInfoWrapper {display:none;}
	
/* Waterplants & Press Review */
ul.vertical-list {display:table;width:100%;margin: 0;}
ul.vertical-list li {clear:both;display:table-row;width:100%;}
ul.vertical-list li div {display:table-cell;padding-bottom:30px}
ul.vertical-list li a img {float:left;vertical-align:text-top;margin-right:10px;}
ul.vertical-list h6 {font-size:18px;font-weight:700;}

/* h5 for missing translations */
h5.missing-translation {font-style:italic;}
@media (min-width:768px){
	h5.missing-translation {font-size:18px;}
}

/* no text in fancybox counter */
span.fancyboxCounter:before {content:"" !important;}

/* Press review, due to the padding of the contained elements */
div.press-review {padding-top:20px;margin-bottom:-20px;}

/* Social icons */
.smz_social_icons span {opacity:0.9;}

/* Articles headings 
dl.article-info.muted {margin-bottom:15px;}
dl.article-info.muted dt {display: none;}
dl.article-info.muted dd {margin-left:0;}*/

/* Section headings */
/* section.category-articles > h6 {display:none;} */
