body {padding:0px !important;}
body.print {margin:10px;}

/* Internal */
div#internal {max-width:940px;margin:0 auto;}
div#internal.fullwidth {max-width:none;}
@media (max-width:767px) {
	div#internal {padding-left:15px;padding-right:15px;}
}
/* oops... where I use this? Can't remember... */
.affix {top: 0;}

/* .container-fluid {margin:0 auto;padding-left:0;padding-right:0;} */
@media (max-width:767px) {.row-fluid [class*="offset"] {margin-left:0;}}
div.container-fluid.fullwidth {max-width:initial;margin-right:0;margin-left:0;}


/* h1 - h6 */
h1, h2, h3, h4, h5, h6 {font-weight:400;color:#444;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color:inherit;}
.alert h4 {font-size:22px;font-weight:700;margin-bottom:5px;}
#main h4 {font-size:24px;margin:15px 0 8px 0;}

/* Fix for ul and ol (when a floated element to the left exists) */
/* ul,ol {overflow:hidden;margin:0 0 10px 0;} */

/* Scaffolding */
.table-cell {display:table-cell;}

/* Tipography */
.text-justify p, p.text-justify {text-align:justify;}
section.intro p {text-align:justify;}
.uppercase {text-transform:uppercase;}
.italic, cite {font-style:italic;}

/* Fix for Bootstrap 2 abbr */
abbr[title] {border-bottom:initial;}

/* Links colors */
a {color:#6E4B80}
a:hover {color:#cc1fad}

/* Images */
img.top-left {float:left;margin:0 10px 10px 0;position:relative;top:7px;}

/******************************************************************************/

div#language-switcher {float:right;}
ul.lang-inline li {margin-left:0 !important;}

/******************************************************************************/

/* Smart Search */
form#mod-finder-searchform input.search-query {border-radius:0;}
form#mod-finder-searchform {display:block;margin-top:30px;margin-bottom:0;}
@media (max-width:767px) {form#mod-finder-searchform {margin-top:10px;}}

/* Mod Search */
div#top-right input.inputbox.search-query {border-radius:0;width:initial;font-size:12px;padding:4px}

/* Search (old) */
form#searchForm fieldset {display:inline-block;margin-top:10px;margin-right:15px;}
form#searchForm fieldset.phrases {display:inline-block;margin-right:15px;}
form#searchForm fieldset.only {}
form#searchForm fieldset.ordering-box {margin-top:10px;margin-right:17px;display:inline-block;}
form#searchForm fieldset.form-limit {margin-top:15px;margin-right:15px;display:inline-block;}
form#searchForm fieldset.btn-toolbar {vertical-align:bottom;margin-bottom:0;margin-top:15px;display:inline-block;}
form#searchForm fieldset.btn-toolbar input {margin-bottom:0;margin-top:10px;}
form#searchForm fieldset.btn-toolbar button {margin-left:3px;margin-top:10px;}
form#searchForm div.searchintro {margin-top:15px;}
form#searchForm div#limit_chzn {width:75px !important;}
dl.search-results {padding-top:12px;margin-bottom:10px;border-top:1px solid #ccc;}
.search .pagination {margin-bottom:0;}
.search h2 {font-size:28px;}
.search dt.result-title {margin-top:8px;}
.search dd {margin-left:16px;}

/* System messages */
div#system-message {margin-top:20px;}

/* Content */
div#content {padding-top:20px;}

.page-header, .article-header, .blog-header {border-bottom:0;padding-bottom:0;margin: 0 0 15px 0;}

/* Above content */
div#above-content {min-height:0;margin-right:0;margin-left:0;margin-bottom:10px;}
div#below-content {min-height:0;margin-left:0;}

div#above-content .nav {font-size:12px;letter-spacing:1px;font-weight:400;}
div#above-content .navbar-inner  {padding-right:0;min-height:0;}
div#above-content ul.nav.menu  {margin:-10px 0 0;padding-bottom:10px;border-bottom: 1px solid #ccc;margin-left:0;}
div#above-content li {display:inline;}
div#above-content li > a {display:inline;color:#6E4B80;padding: 3px 4px;margin-bottom:5px;}
div#above-content li:last-child > a {margin-right:-4px;}
div#above-content .navbar .nav li > a:hover,div#above-content .navbar .nav li > a:focus, div#above-content .navbar .nav li.active > a:hover, div#above-content .navbar .nav li.active > a:focus {color:#cc1fad;text-decoration:underline;background-color:#fff;}
div#above-content .navbar .nav li.active > a, div#above-content .navbar .nav li.active > a:hover, div#above-content .navbar .nav li.active > a:focus {background-color:#e8e8ff;}

/* Hero */
div#hero {padding-top:10px;}

/* Main */
div#main {padding-bottom:16px;}

div#above {margin-top:10px;}

/* Module Spacing in left and right columns */
div#left div.moduletable, div#right div.moduletable {margin-bottom:18px;}
div#left div.moduletable:last-child, div#right div.moduletable:last-child {margin-bottom:0;}


/* Breadcrumbs */
.breadcrumb {background-color:inherit;border:1px solid #ccc;border-left:0;border-right:0;border-radius: 0;}
.breadcrumb span.icon-home {padding-right:0;}
.breadcrumb span.icon-arrow-right {margin-left:5px;padding-right:0;}

/* Footer */
.footer {background-color: rgba(135, 206, 232, 0.2);}
.footer {font-size:12px;margin-bottom:20px;border-radius:8px;}
.footer div.pull-left {padding:8px;}
.footer div.pull-right {padding:8px;}
@media (max-width:499px) {
.footer div.pull-right {float:none;}
}
.footer address {margin-bottom:0}


/**************************** I M P O R T A N T *******************************/

/* Pull-right-desktop */
@media (min-width:768px){
.pull-right-desktop {float:right;}
}

@media (max-width:767px){
.show-desktop {display:none !important;}
}
@media (min-width:768px){
.hide-desktop {display:none !important;}
}


/* Article body */
article .article-body p, article .intro p {text-align:justify;}
@media (min-width:768px){
	article .article-body, article .article-body p, article .article-body li,
	article .intro, article .intro p, article .intro li 
	{font-size:18px;line-height:24px;}
}

/* Admin info */
article .admin-info {margin-bottom:10px;}
article .admin-info span.label + span.label {margin-left:5px;}

/* Info block */
article .info {margin-bottom:20px;}
article .info h6 {margin:0;font-size:1em;font-weight:bold;color:#999;}
article .info dl {margin:0;}
article .info dl dt {margin-left:0;font-weight:bold;display:inline;color:#999;}
article .info dl dd {margin-left:5px;margin-left:0.25em;margin-left:0.25ch;display:inline;color:#999;}
article .info dl dd:after {display:block;content:'';}

/* Tags */
article .tags {margin-bottom:20px;}
article .tags h6 {margin:0;font-size:1em;font-weight:bold;color:#999;}
article .tags ul {margin:0;}
article .tags ul.tags.inline li:first-of-type {padding-left:0;}
article .tags ul.tags.inline li:last-of-type {padding-right:0;}

/* Hidden headings */
article section.info.more h6 {display:none;visibility:hidden;}
article section.links h6 {display:none;visibility:hidden;}
article aside.rating h6 {display:none;visibility:hidden;}
nav.navigation.above, nav.navigation.below h6 {display:none;visibility:hidden;}

section.category-details p {text-align:justify;}
@media (min-width:768px){
section.category-details p	{font-size:18px;line-height:24px;}
}

/* Subcategories listing */
section.category-children ul {padding:0;}
section.category-children ul > li > ul > li > ul {padding:0 15px 0 15px;}

section.category-items th.list-hits, section.category-items td.list-hits,
section.category-items th.list-edit, section.category-items td.list-edit {text-align:right;}

/****************************** Boostrap fixes *********************************/

/* Table striped */
.table-striped thead > tr > th {background-color:#ffffdf;}
.table-striped tbody > tr:nth-child(2n) > td {background-color:#ffffff;}
.table-striped tbody > tr:nth-child(2n+1) > td {background-color:#f9f9f9;}

/******************************************************************************/

/* left ?? useful?? */
div.left p {text-align:left;}

/* Opposing titles in 2 columns blog layout */
.alt-titles h2 {text-transform:uppercase;}
@media (min-width:768px){.alt-titles div.column-2 > h2 {text-align:right;}}
@media print {.alt-titles div.column-2 > h2 {text-align:left;}}

/******************************************************************************/

/* mod_login (Phone menu) */
.visible-phone label {color:#fff;}
.visible-phone form#login-form ul > li > a {color:#F0D060;}
.visible-phone #login-dropdown {width:250px;padding:10px;}
.visible-phone #login-dropdown .input-prepend {margin-left:10px;}
.visible-phone #login-dropdown a {display:block;color:#F0D060;padding:0;margin: 0 10px;}
.visible-phone #login-dropdown .help-block {margin-bottom:0;}
.visible-phone #login-dropdown .help-block.login-remember {padding-top:5px;}

/* Login (component) */
.login fieldset.well div ~ div ~ div {margin-bottom:0;}
.login fieldset.well {margin:0;box-shadow:none;}

/* Password reset (mod smz) */
.reset form, .remind form {margin-top:6px;margin-bottom:10px;background-color:#F5F5F5;border:1px solid #E3E3E3;border-radius:4px 4px 4px 4px;padding:19px;}
.reset form div.form-actions, .remind form div.form-actions {padding:0;margin-top:0;margin-bottom:0;margin-left:180px;background-color:inherit;border:0;}
.reset-confirm form {margin-top:6px;margin-bottom:10px;background-color:#F5F5F5;border:1px solid #E3E3E3;border-radius:4px 4px 4px 4px;padding:19px;}
.reset-confirm form div.form-actions {padding:0;margin-top:0;margin-bottom:0;margin-left:180px;background-color:inherit;border:0;}
.reset-complete form {margin-top:6px;margin-bottom:10px;background-color:#F5F5F5;border:1px solid #E3E3E3;border-radius:4px 4px 4px 4px;padding:19px;}
.reset-complete form div.form-actions {padding:0;margin-top:0;margin-bottom:0;margin-left:180px;background-color:inherit;border:0;}

/* Acymailing */
table.smz-acysearch button {margin-bottom:10px;}

/* Acymailing unsubscribe */
div#unsuball_div, div#unsubfull_div{display:none;}
div.unsuboptions {padding-left:10px !important;margin-bottom:10px;}
div#unsubbutton_div {padding-left:10px;margin-bottom:10px;}

/* Acymailing Subscribe */
div#acymodifyform fieldset.acy_subscription_list {display:none;}
input#user_captcha {margin-bottom:0 !important;}
span.refreshCaptcha {margin-top:5px;}
p.acymodifybutton {padding-left:160px;}

/* @media print */
@media print {
.visible-phone {display:none !important;}
a[href]:after {content: none !important;}
div#menu {display:none !important}
div#top-right {display:none !important}
div#breadcrumbs {display:none !important}
div.footer-right {display:none !important}
.row-fluid [class*="span"] {display:block !important;width:100% !important; margin-left:0 !important; float:none !important}
p.readmore {display:none !important;}
abbr {display:none;}
*.displayonly {display: none !important;}
}

@media screen {
*.printonly {display:none !important;}
}

/* Language selector */
html:lang(en) *:lang(it) {display:none !important;}
html:lang(it) *:lang(en) {display:none !important;}

/* Handling of browsers with no JS support */
.js div.no-js {display:none;}
.no-js div.js {display:none;}
.js *.no-js {display:none;}
.no-js *.js {display:none;}
.no-js div.no-js {display: block !important;visibility: visible !important}
div.no-js span.alert {font-size:24px;padding:6px 12px;}
/******************************************************************************/
